section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title__text We are added out major Services
        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet, consectetuer adipiscin

            li.about__item
                .icon.icon-book
                h3.about__header Landing pages creation
                p.about__description Lorem ipsum dolor sit amet, consectetuer adipiscin

            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Lorem ipsum dolor sit amet, consectetuer adipiscin